html,
css {
  touch-action: none;
}
body {
  text-align: center;
  font-family: Arial, sans-serif;
}
.KeyRow {
  margin: auto;
  border-spacing: 0px;
}
.container {
  font-family: arial;
  font-size: 24px;
  max-width: 100%;
  margin: 0 auto;
  outline: dashed 1px black;
}

.AlphabetButton {
  width: 8vw;
  height: 6vw;
  font-size: 20px;
  text-align: center;
}
.KeyButton {
  width: 8vw;
  height: 6vw;
  font-size: 20px;
  text-align: center;
}
.CommandButton {
  width: 20vw;
  height: 7vw;
  font-size: 16px;
  text-align: center;
}

h1 {
  font-size: 24px;
}

#score {
  font-size: 18px;
}

input[type="text"] {
  margin-top: 20px;
  padding: 10px;
  font-size: 36px;
  width: 90%;
}

/* footer 作成
https://web-camp.io/magazine/archives/27870 */

/* footer{
    position:fixed;
} */
/* * {
  margin: 0;
  padding: 0;
} */
footer {
  position: absolute; /*←絶対位置*/
  bottom: 0; /*下に固定*/
  width: 100%;
  background-color: #ffffffff;
}
header .headline {
  font-size: 32px;
}
.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

/* footer {
  width: 100%;
  height: 400px;
  text-align: center;
  padding: 50px 0;
  background-color: #cab64a;
}
.footer-text {
  color: #fff;
} */

/* https://eclair.blog/examples-of-table/
いい感じのTable */
.Table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .Table {
    font-size: 12px;
  }
}
.Table-Head {
  background: #eee;
}
.Table-Head-Row-Cell {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.Table-Body-Row:nth-child(even) {
  background: #eee;
}
.Table-Body-Row-Cell {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
