html,
css {
  touch-action: none;
}
body {
  text-align: center;
  font-family: Arial, sans-serif;
}
.KeyRow {
  /* width: 200px; */
  margin: auto;
}
.container {
  font-family: arial;
  font-size: 24px;
  max-width: 100%;
  margin: 0 auto;
  outline: dashed 1px black;
}

.AlphabetButton {
  /* width: 100%; */
  width: 8vw;
  height: 6vw;
  /* height: 60px; */
  font-size: 30px;
}

h1 {
  font-size: 24px;
}

#score {
  font-size: 18px;
}

input[type="text"] {
  margin-top: 20px;
  padding: 10px;
  font-size: 36px;
  width: 90%;
}

.KeyButton {
  width: 8vw;
  height: 6vw;
}
