html,
css {
  touch-action: none;
}
body {
  text-align: center;
  font-family: Arial, sans-serif;
}
.KeyRow {
  margin: auto;
  border-spacing: 0px;
}
.container {
  font-family: arial;
  font-size: 24px;
  max-width: 100%;
  margin: 0 auto;
  outline: dashed 1px black;
}

.AlphabetButton {
  width: 8vw;
  height: 6vw;
  font-size: 20px;
}
.KeyButton {
  width: 8vw;
  height: 6vw;
  font-size: 20px;
}

h1 {
  font-size: 24px;
}

#score {
  font-size: 18px;
}

input[type="text"] {
  margin-top: 20px;
  padding: 10px;
  font-size: 36px;
  width: 90%;
}
